.Nav {
  width: auto;
  height: auto;
  padding: 18px 48px;

  display: flex;

  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  user-select: none;
}

.Logo {
  cursor: pointer;
  display: flex;
}
.Logo img {
  width: 48px;
  height: 48px;
  margin: 0 8px;
}

.Logo h1 {
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional: horizontally center the content */

  height: 28px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 32px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 300ms;
  color: white;
}

.upload-btn {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional: horizontally center the content */

  height: 28px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 32px;
  cursor: pointer;
  transition: all ease 300ms;
  color: black;
  padding: 4px 12px;
  background-color: white;

  outline-width: 10px;

  border-radius: 8px;
  border-width: 5px;
  border-color: blue;
}
.upload-btn:hover {
  background-color: rgb(192, 192, 192);
}

ul li :hover {
  color: rgba(255, 255, 255, 0.5);
}

.icons {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center; /* Optional: horizontally center the content */

  height: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 32px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 300ms;
  color: white;
}

.input {
  height: 32px;
  font-size: 12px;
  border: 2px solid #f5f5f58f;
  border-radius: 5px;
  padding: 10px 25px;
  /* background: transparent; */
  max-width: 190px;
  margin-right: 16px;
}

.input::placeholder {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.input:active {
  box-shadow: 2px 2px 15px #7431aa inset;
}
