.Banner {
  width: 85%;
  height: max-content;
  display: flex;
  align-self: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to right,
    #000000,
    #000000,
    #32323277,
    #00000067,
    #62626200
  );
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 5vh;
  cursor: pointer;
}

.Banner img {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  align-items: center;
  box-shadow: 50px;
  opacity: 0.5;
  transition: all 300ms;
}
.Banner img:hover {
  opacity: 0.3;
}

.banner-info {
  position: absolute;
  margin: 10px 75px;
}

.banner-info h1 {
  margin: 0;
  font-size: 48px;
  color: white;
  text-shadow: 3px 2px 15px rgba(0, 0, 0, 0.55);
}

.Description {
  font-size: 16px;
  text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);
  font-weight: 600;
  color: white;
  width: 60vh;
}
