.item {
  min-width: 155px;
  height: 215px;
  margin: 10px;
  margin-right: 2.5vh;
  transition: all 300ms;
  position: relative;
}

.item:hover {
  transform: scale(1.12);
  cursor: pointer;
}

.item-info {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  opacity: 0;
  transition: all 350ms;
}
.item-info:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  position: absolute;
}
.emphasis {
  margin: 5px 15px;
  display: inline-block;
  width: calc(90%);
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.description {
  color: white;
  font-size: 8px;
}
