body {
  margin: 0;
  box-sizing: border-box;
  border: 0;

  font-family: montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(3, 3, 3);
  color: rgb(240, 240, 240);
  scroll-behavior: smooth;
}

.heading {
  font-size: 28px;
  font-weight: 800;
}

.sub-heading {
  font-size: 20px;
  font-weight: 700;
}

.button {
  margin: 12px;

  font-size: 14px;

  background-color: rgb(250, 153, 27);
  text-decoration: none;
  padding: 8px 14px;

  border: 1px solid;
  border-color: rgb(250, 153, 27);
  border-radius: 6px;

  color: black;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 45px rgba(250, 153, 27, 0.5);
  color: rgb(250, 153, 27);
}

.button-outline {
  margin: 12px;
  align-self: c;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  padding: 8px 14px;

  border: 1px solid;
  border-color: rgb(250, 153, 27);
  border-radius: 6px;
  color: rgb(250, 153, 27);
  cursor: pointer;
  transition: 0.2s;
}
.button-outline:hover {
  background-color: rgb(250, 153, 27);
  box-shadow: 0 0 35px rgba(250, 153, 27, 0.5);

  color: black;
}

input {
  text-decoration: none;
  border: 0 solid;
  background-color: rgb(29, 29, 29);
  color: rgb(255, 255, 255);
  padding: 18px 38px;
  margin: 12px;
  border-radius: 5px;
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 30rem;
}

button {
  width: 35%;
  border-radius: 1px;
  margin: 0 auto;
}
.file {
  background: none;
}

.file::-webkit-file-upload-button {
  margin-right: 18px;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  padding: 8px 14px;

  border: 1px solid;
  border-color: rgb(250, 153, 27);
  border-radius: 6px;
  color: rgb(250, 153, 27);
  cursor: pointer;
  transition: 0.2s;
}
.file::-webkit-file-upload-button:hover {
  background-color: rgb(250, 153, 27);
  box-shadow: 0 0 15px rgba(250, 153, 27, 0.2);

  color: black;
}

label {
  margin: 0 18px;
  display: flex;
  align-self: flex-start;
}
